absl-py
altair
asgiref
astunparse
attrs
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
colorama
commonmark
contourpy
cycler
decorator
dill
Django
easyocr
entrypoints
etils
flatbuffers
fonttools
gast==0.4.0
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
html5lib
idna
image
imageio
importlib-metadata
importlib-resources
imutils
ipython-genutils
Jinja2
jsonschema
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
munkres
networkx
ninja
numpy
oauthlib
opencv-python==4.6.0.66
opencv-contrib-python
opencv-python-headless
opt-einsum
packaging
pandas
Pillow
pkgutil_resolve_name
promise
protobuf
pyarrow
pyasn1
pyasn1-modules
pyclipper
pydeck
Pygments
Pympler
pyparsing
pyrsistent
pytesseract
python-bidi
python-dateutil
python-utils
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
requests
requests-oauthlib
rich
rsa
scikit-image
scipy
seaborn
semver
Shapely
six
smmap
sqlparse
streamlit
termcolor
tifffile
toml
toolz
torch
tensorflow
torchvision
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
utils
validators
webencodings
Werkzeug
wrapt
zipp
