absl-py
altair
asgiref
astunparse
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
colorama
commonmark
dill
Django
easyocr
etils
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
html5lib
idna
image
imageio
imutils
ipython-genutils
keras
Keras-Preprocessing
libclang
Markdown
matplotlib
munkres
ninja
oauthlib
opencv-python
opencv-python-headless
opt-einsum
pandas
promise
protobuf
pyarrow
pyasn1
pyasn1-modules
pyclipper
pydeck
Pympler
pytesseract
python-bidi
python-utils
pytz-deprecation-shim
PyWavelets
PyYAML
requests
requests-oauthlib
rich
rsa
scikit-image
scipy
seaborn
semver
Shapely
smmap
sqlparse
streamlit
# tensorboard
# tensorboard-data-server
# tensorboard-plugin-wit
# tensorflow-datasets
# tensorflow-estimator
# tensorflow-hub
# tensorflow-macos
tensorflow
# tensorflow-metadata
# tensorflow-metal
termcolor
tifffile
toml
toolz
torch
torchvision
tqdm
tzdata
tzlocal
urllib3
utils
validators
webencodings
Werkzeug
wrapt
